<!DOCTYPE html>
<html lang="en" class="text-black bg-white">
  <head>
    {% include 'head.njk' %}
  </head>
  <body class="font-ag text-18 transition ease-out-quint duration-500 opacity-0">
    <div id="root">
      <main data-router-wrapper>
        {{ content | safe }}
      </main>
    </div>
    <script src="/app.js"></script>
  </body>
</html>