<!DOCTYPE html>
<html lang="en" class="text-black bg-white">
  <head>
    {% include 'head.njk' %}
  </head>
  <body class="font-ag text-18 opacity-0 transition duration-500 ease-out-cubic">
    <div id="root">
      <main data-router-wrapper>
        {{ content | safe }}
      </main>
      {% include 'grid.njk' %}
      <div
        class="fixed inset-0 w-full h-full pointer-events-none z-[-1] opacity-0 transition duration-500 ease-out-cubic"
        data-component="webgl"
        data-webgl
      ></div>
      <div
        class="fixed inset-0 w-full h-full pointer-events-none z-[20]"
        data-component="noise"
      ></div>
    </div>
    <script src="/app.js"></script>
  </body>
</html>