<div class="mb-60 px">
  <h2 class="font-nm text-28 m:text-40 l:text-50 leading-115 pb-10 border-b-2 border-fg mb-70">
    Contact
  </h2>
  <div class="grid grid-template" data-component="contact">
    <div class="col-span-6 font-nm text-135 leading-100">
      <a class="block mb-20 js-links" href="mailto:info@jasonkillinger.com">Email</a>
      <a class="block text-muted-light mb-20 js-links" href="tel:2158162962">Phone</a>
      <a class="block text-muted-light js-links" href="https://instagram.com/jasonkillinger">Instagram</a>
    </div>
    <div class="col-span-6">
      {% include 'lockup.njk' %}
    </div>
  </div>
</div>