<footer class="px">
  <div class="border-t-2 border-current pb-20 m:pb-30">
    <div class="relative py-30 m:py-45 l:py-60 flex justify-between items-center">
      <button
        class="w-40 m:w-75 h-40 m:h-75 relative z-1"
        data-component="themeToggle"
      >
        <div class="w-full h-full p-5 js-spiral">
          {% include 'spiral.njk' %}
        </div>
      </button>
      <div class="absolute w-full text-center">
        <a
          href="{{ site.footer.link.url }}"
          class="font-nm text-26 m:text-40 l:text-60 xl:text-80 leading-100"
          data-component="funHover"
        >{{ site.footer.link.title | split | safe }}</a>
      </div>
      <button class="w-25 m:w-48 relative z-1" data-component="scrollUp">
        <div class="pointer-events-none js-arrow">
          {% include 'upIcon.njk' %}
        </div>
      </button>
    </div>
    <p class="text-center text-14 m:text-16 leading-100">{{ site.footer.copyright }}</p>
  </div>
</footer>