<footer>
  <div class="border-t-2 border-black pb-20 m:pb-30">
    <div class="relative py-30 m:py-45 l:py-60 flex justify-between items-center">
      <div class="rounded-full bg-black w-30 m:w-65 h-30 m:h-65"></div>
      <div class="absolute w-full text-center">
        <a href="{{ site.footer.link.url }}"
          class="font-nm text-26 m:text-40 l:text-60 xl:text-80 leading-100"
        >{{ site.footer.link.title }}</a>
      </div>
      <div class="w-25 m:w-48">
        {% include 'up-icon.njk' %}
      </div>
    </div>
    <p class="text-center text-14 m:text-16 leading-100">{{ site.footer.copyright }}</p>
  </div>
</footer>