{% macro headerBar() %}
  <div
    class="h-header flex items-center justify-between font-nm text-26/40 leading-100 pointer-events-none"
    data-scroll-padding-top
  >
    <a
      class="pointer-events-auto"
      href="/"
    >Jason Killinger</a>
    <nav class="hidden m:flex gap-x-25">
      {% for link in site.navigation %}
        <a
          class="pointer-events-auto"
          href="/{% if not link.isHomepage %}{{ link.slug }}/{% endif %}"
        >{{ link.title }}</a>
      {% endfor %}
    </nav>
    <button class="m:hidden w-50 h-50 pointer-events-auto js:header-burger" data-initial-focus>
      <div class="w-30 relative ml-auto">
        <div class="space-y-5 js:header-openIcon">
          <div class="h-3 bg-current js:header-topBun"></div>
          <div class="h-3 bg-current js:header-patty"></div>
          <div class="h-3 bg-current js:header-bottomBun"></div>
        </div>
        <div class="w-24 h-24 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
          <div class="js:header-closeIcon" style="opacity: 0;">
            {% include 'xIcon.njk' %}
          </div>
        </div>
      </div>
    </button>
  </div>
{% endmacro %}

<header
  class="fixed top-0 left-0 w-full px z-10"
  data-component="header"
>
  {{ headerBar() }}
  <div
    class="m:hidden fixed inset-0 w-full h-full overflow-hidden z-1 js:header-outer"
    style="opacity: 0; visibility: hidden;"
  >
    <div class="relative w-full h-full text-white bg-black px-10 js:header-inner">
      <div class="relative z-1">
        {{ headerBar() }}
      </div>
      <nav class="absolute inset-0 flex flex-col justify-end gap-y-20 px-10 pb-30 font-nm text-80 leading-100 js:header-nav">
        {% for link in site.navigation %}
          <a href="/{% if not link.isHomepage %}{{ link.slug }}/{% endif %}">{{ link.title }}</a>
        {% endfor %}
      </nav>
    </div>
  </div>
</header>