<meta charset="utf-8">
<meta content="ie=edge" http-equiv="x-ua-compatible">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<title>{{ seo.documentTitle }}</title>

{# Preload styles #}
<link rel="preload" href="/app.css" as="style">

{# Preload scripts #}
<link rel="preload" href="/app.js" as="script">

{# Facebook Open Graph #}
<meta property="og:url" content="{{ page.url }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ seo.title }}">
<meta property="og:description" content="{{ seo.description }}">
<meta property="og:site_name" content="{{ site.metaTitle }}">
<meta property="og:locale" content="en_US">
<meta property="og:image" content="{{ seo.imageUrl }}">
<meta property="og:image:secure_url" content="{{ seo.imageUrl }}">
<meta property="og:image:width" content="{{ seo.imageWidth }}">
<meta property="og:image:height" content="{{ seo.imageHeight }}">

{# Twitter Card #}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="{{ page.url }}">
<meta name="twitter:title" content="{{ seo.title }}">
<meta name="twitter:description" content="{{ seo.description }}">
<meta name="twitter:image" content="{{ seo.imageUrl }}">

{# Favicons #}
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>⚫️</text></svg>">

{# Link stylesheet #}
<link rel="stylesheet" href="/app.css">