<div class="m:grid grid-template items-center pb-100" data-component="hero">
  <div class="relative text-center font-nm leading-100 text-[15vw] m:text-[10vw] col-start-1 col-span-6 mb-40 m:mb-0">
    {% for slide in module.titleCarousel %}
      <h2 class="{% classList
        'js-slides',
        'absolute inset-0 pointer-events-none' if loop.index > 1
      %}">
        <div class="{% classList 'hidden' if loop.index > 1 %}">{{ slide.word1 }}</div>
        <div class="{% classList 'hidden' if loop.index > 1 %}">{{ slide.word2 }}</div>
        <div class="{% classList 'hidden' if loop.index > 1 %}">{{ slide.word3 }}</div>
      </h2>
    {% endfor %}
  </div>
  <div class="w-5/6 m:w-full col-span-5 mx-auto m:mx-0">
    {% include 'spiral.njk' %}
  </div>
</div>