{% from 'lazy.macro.njk' import lazy %}

<div class="{% classList
  'px' if not module.isFullBleed,
  'mb-80 m:mb-[calc(80/1536*100vw)]' if module.caption else 'mb-[calc(40/1536*100vw)]'
%}">
  <div class="{% classList
    'm:flex' if module.shouldStackOnMobile else 'flex',
    'gap-[calc(40/1536*100vw)]'
  %}">
    {% if module._type == 'oneUpMedia' %}
      <div
        class="w-full relative overflow-hidden"
        {% if module.media | length > 1 %}
          data-component="carousel"
        {% endif %}
      >
        {% if module.media | length > 1 %}
          <div class="overflow-hidden js-carousel">
            <div class="flex">
        {% endif %}
          {% for media in module.media %}
            {{ lazy(
              type = media.type,
              asset = media.asset,
              alt = media.alt,
              aspectRatio = module.media[0].aspectRatio,
              style = 'flex: 0 0 100%;',
              cx = 'relative overflow-hidden'
            ) }}
          {% endfor %}
        {% if module.media | length > 1 %}
            </div>
          </div>
          <div class="font-nm text-20 m:text-24 l:text-28 leading-100 absolute bottom-11 m:bottom-15 right-11 m:right-15">
            <span class="js-page">1</span>/{{ module.media | length }}
          </div>
          <div class="hidden m:block absolute w-50 h-50 z-1 top-0 left-0 pointer-events-none transition-opacity duration-300 ease-out-cubic js-cursor">
            <div class="text-white rotate-45">
              {% include 'arrowCursorIcon.njk' %}
            </div>
          </div>
        {% endif %}
      </div>
    {% else %}
      {% for media in module.media %}
        {%- set s -%}
          {% set w = '50vw' if module._type == 'twoUpMedia' else '33vw' %}
          {%- if module.shouldStackOnMobile -%}
            100vw, (min-width: 768px) {{ w }}
          {%- else -%}
            {{ w }}
          {%- endif -%}
        {%- endset -%}
        {{ lazy(
          type = media.type,
          asset = media.asset,
          alt = media.alt,
          width = 710 if module._type == 'twoUpMedia' else 460,
          sizes = s | trim,
          aspectRatio = media.aspectRatio,
          cx = 'relative w-full overflow-hidden'
        ) }}
      {% endfor %}
    {% endif %}
  </div>
  {% if module.caption %}
    <div class="text-14 m:text-16 leading-115 text-center pt-20">
      {{ module.caption | blocksToHtml('caption') | safe }}
    </div>
  {% endif %}
</div>