{% from 'img.macro.njk' import img %}

<div class="fixed inset-0 w-full h-full">
  <div class="w-full h-full bg-black/95"></div>
    <div class="absolute top-35 bottom-70 inset-x-0 px">
      {% if p.media.type == 'image' %}
        {{ img(
          asset = p.media.image.asset,
          alt = p.media.image.alt,
          lqip = false,
          cx = 'relative w-full h-full',
          fit = 'contain',
          imgAttrs = 'draggable="false"'
        ) }}
      {% endif %}
    </div>
  <div class="absolute inset-x-0 px bottom-32 text-center text-14 m:text-16 text-white leading-115">
    {{ p.caption | blocksToHtml('caption') | safe }}
  </div>
  <div
    class="absolute top-0 left-0 pointer-events-none"
    data-component="modalCursor"
    style="opacity: 0; visibility: hidden;"
  >
    <div class="w-50 h-50 rotate-45">
      <div class="sr-only">Close</div>
      {% include 'plusCursorIcon.njk' %}
    </div>
  </div>
</div>