<div class="min-h-screen pt-80 s:pt-100 m:pt-150 pb-80 m:pb-200">
  {% for module in p.modules %}
    {% set type = module._type %}
    {% set moduleTemplate %}
      {% include type + '.njk' ignore missing %}
    {% endset %}
    {% if moduleTemplate | trim | length %}
      {{ moduleTemplate | safe }}
    {% else %}
      <p class="text-40 my-100 text opacity-65">{{ type }}<p>
    {% endif %}
  {% endfor %}
</div>