{% if module.collections | length > 1 %}
  <div class="pb-15 border-b-2 border-fg mb-60 flex gap-x-30">
    {% for collection in module.collections %}
      <a
        class="{% classList
          'text-24 leading-115',
          'text-fg pointer-events-none' if collection.slug == p.collectionSlug or p.isHomepage and loop.index == 1 and not p.collectionSlug else 'text-muted-light hover:text-fg'
        %}"
        href="{% if not p.isHomepage %}/{{ p.slug }}{% endif %}{% if loop.index > 1 %}/{{ collection.slug }}{% endif %}/"
      >{{ collection.title }}</a>
    {% endfor %}
  </div>
{% endif %}
<div class="grid grid-template gap-y-155">
  {% set collection = module.collections[0] %}
  {% if p.collectionSlug %}
    {% for col in module.collections %}
      {% if col.slug == p.collectionSlug %}
        {% set collection = col %}
      {% endif %}
    {% endfor %}
  {% endif %}
  {% for item in collection.items %}
    {% if item._type == 'item' %}
      <a
        class="block col-span-{{ item.width }}"
        href="/post/{{ item.post.slug }}"
        style="height: fit-content; align-self: {{ item.verticalAlignment }};"
      >
        {% set media = item.post.media if item.post.type == 'media' else item.post.thumbnail %}
        {% if media.type == 'image' %}
          {% set image = media.image %}
          <div class="relative">
            <div style="padding-top: {{ 1 / image.asset.metadata.dimensions.aspectRatio * 100 }}%"></div>
            <img
              class="absolute inset-0 w-full h-full object-cover"
              src="{{ image.asset.url }}"
              alt="{{ image.alt }}"
            ></img>
          </div>
        {% endif %}
        <div class="mt-20">
          <h3 class="font-nm text-26/40 leading-115">
            {{ item.post.title }}
          </h3>
          {% if item.post.subtitle %}
            <p class="text-24 leading-138 mt-8 text-muted-dark">{{ item.post.subtitle }}</p>
          {% endif %}
        </div>
      </a>
    {% else %}
      <div class="col-span-{{ item.width }}"></div>
    {% endif %}
  {% endfor %}
</div>