---
layout: base.njk
permalink: /collections/{{ p.slug }}/
pagination:
  alias: p
  data: postCollections
  size: 1
eleventyComputed:
  seo:
    documentTitle: "{{ p.title }} — {{ site.metaTitle }}"
    title: "{{ p.title }} — {{ site.metaTitle }}"
    description: "{{ site.metaDescription }}"
    imageUrl: "{{ site.metaImage.url }}"
    imageWidth: "{{ site.metaImage.metadata.dimensions.width }}"
    imageHeight: "{{ site.metaImage.metadata.dimensions.height }}"
---
{% from 'theme.njk' import theme %}

<div data-router-view="default" {{ theme(p.isDarkModeEnabled) }}>
  {% include 'header.njk' %}
  <div data-content>
    <div class="min-h-screen pt-100 m:pt-150 pb-80 m:pb-200">
      {% set module = {
        collections: [p]
      } %}
      {% include 'postGrid.njk' %}
    </div>
    {% include 'footer.njk' %}
  </div>
</div>