---
layout: base.njk
permalink: /{% if not p.isHomepage %}{{ p.slug }}/{% endif %}{% if p.collectionSlug %}{{ p.collectionSlug }}/{% endif %}
pagination:
  alias: p
  data: pages
  size: 1
eleventyComputed:
  seo:
    documentTitle: "{{ p.title }} — {{ site.metaTitle }}"
    title: "{{ p.title }} — {{ site.metaTitle }}"
    description: "{{ site.metaDescription }}"
    imageUrl: "{{ site.metaImage.url }}"
    imageWidth: "{{ site.metaImage.metadata.dimensions.width }}"
    imageHeight: "{{ site.metaImage.metadata.dimensions.height }}"
---
{% from 'theme.njk' import theme %}

<div data-router-view="default" {{ theme(p.isDarkModeEnabled) }}>
  {% include 'header.njk' %}
  <div data-content>
    {% include 'page.njk' %}
    {% include 'footer.njk' %}
  </div>
</div>