---
layout: base.njk
permalink: /post/{{ p.slug }}/
pagination:
  alias: p
  data: posts
  size: 1
eleventyComputed:
  seo:
    documentTitle: "{{ p.title }} — {{ site.metaTitle }}"
    title: "{{ p.title }} — {{ site.metaTitle }}"
    description: "{{ site.metaDescription }}"
    imageUrl: "{{ site.metaImage.url }}"
    imageWidth: "{{ site.metaImage.metadata.dimensions.width }}"
    imageHeight: "{{ site.metaImage.metadata.dimensions.height }}"
---
{% from 'theme.njk' import theme %}

<div data-router-view="default" {{ theme() }}>
  {% if p.type == 'caseStudy' %}
    {% include 'header.njk' %}
    <div data-content>
      {% include 'caseStudy.njk' %}
      {% include 'footer.njk' %}
    </div>
  {% elif p.type == 'media' %}
    <div data-content>
      {% include 'modal.njk' %}
    </div>
  {% endif %}
</div>