@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Akzidenz Grotesk Pro';
    src: url('/fonts/AkzidenzGroteskPro-Regular.woff') format('woff'),
      url('/fonts/AkzidenzGroteskPro-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Neue Montreal Medium';
    src: url('/fonts/NeueMontreal-Medium.woff') format('woff'),
      url('/fonts/NeueMontreal-Medium.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  html,
  body {
    overscroll-behavior: none;
  }

  html {
    font-size: 10px;
  }

  body {
    font-size: 1.6rem;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  [data-router-view] {
    opacity: 0;
    visibility: hidden;
  }
}

@layer utilities {
  .no-scrollbar {
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .h-header {
    @apply h-60 s:h-65 m:h-80 l:h-90 xl:h-100;
  }

  .px {
    @apply px-10 s:px-15 m:px-25 l:px-35 xl:px-40;
  }

  .grid-template {
    @apply grid-cols-12 gap-x-[calc(40/1536*100vw)];
  }

  .text-26\/40 {
    @apply text-26 s:text-28 m:text-32 l:text-36 xl:text-40;
  }
}
